.WeatherInfo {
    font-weight: bold;
    margin-top: 10px;
    font-size: 48px;
    margin-top: 20px;
}

.WeatherInfo .temperature-container {
    margin-top: 30px;
    align-items: center;
}

.Weather .fa-droplet {
    color:#6a9976;
    margin-right:10px;
    font-size: 20px;
}    

.Weather .fa-wind {
    color:#6a9976;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
